<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wankun.yan.hobby.file.english.study.dao.SentenceMapper">
    
    <sql id="requestAllFields">
        <![CDATA[
            id,
            english_desc AS englishDesc,
            chinese_desc AS chineseDesc,
            `desc`,
            create_time AS createTime,
            update_time AS updateTime
        ]]>
    </sql>
    
    <sql id="whereClause">
        <where>
            <if test="null!=id">AND id = #{id}</if>
            <if test="null!=englishDesc and ''!=englishDesc">AND english_desc = #{englishDesc}</if>
            <if test="null!=chineseDesc and ''!=chineseDesc">AND chinese_desc = #{chineseDesc}</if>
            <if test="null!=desc and ''!=desc">AND `desc` = #{desc}</if>
            <include refid="extendedWhereClause" />
        </where>
    </sql>
    
    <insert id="add" useGeneratedKeys="true" parameterType="wankun.yan.hobby.file.english.study.bean.Sentence" keyProperty="id">
        INSERT INTO tb_sentence
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="null!=englishDesc and ''!=englishDesc">,english_desc</if>
            <if test="null!=chineseDesc and ''!=chineseDesc">,chinese_desc</if>
            <if test="null!=desc and ''!=desc">,`desc`</if>
            <if test="null!=createTime">,create_time</if>
            <if test="null!=updateTime">,update_time</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="null!=englishDesc and ''!=englishDesc">,#{englishDesc}</if>
            <if test="null!=chineseDesc and ''!=chineseDesc">,#{chineseDesc}</if>
            <if test="null!=desc and ''!=desc">,#{desc}</if>
            <if test="null!=createTime">,#{createTime}</if>
            <if test="null!=updateTime">,#{updateTime}</if>
        </trim>
    </insert>
    
    <update id="update" parameterType="wankun.yan.hobby.file.english.study.bean.Sentence">
        UPDATE tb_sentence
        <trim prefix="SET" prefixOverrides=",">
            <if test="null!=englishDesc and ''!=englishDesc">,english_desc = #{englishDesc}</if>
            <if test="null!=chineseDesc and ''!=chineseDesc">,chinese_desc = #{chineseDesc}</if>
            <if test="null!=desc and ''!=desc">,`desc` = #{desc}</if>
            <if test="null!=createTime">,create_time = #{createTime}</if>
            <if test="null!=updateTime">,update_time = #{updateTime}</if>
            <include refid="extendedUpdateSql" />
        </trim>
        WHERE id = #{id}
        <include refid="extendedWhereClause" />
    </update>
    
    <select id="query" parameterType="wankun.yan.hobby.file.english.study.bean.Sentence" resultType="wankun.yan.hobby.file.english.study.bean.Sentence">
        SELECT <include refid="requestAllFields"/> FROM tb_sentence
        <include refid="whereClause" />
        <include refid="extendedOrderByClause" />
        <if test="null!=requestOffset and null!=requestCount">
            LIMIT #{requestOffset}, #{requestCount}
        </if>
    </select>
    
    <select id="pageQuery" parameterType="wankun.yan.hobby.file.english.study.bean.Sentence" resultType="wankun.yan.hobby.file.english.study.bean.Sentence">
        SELECT <include refid="requestAllFields"/> FROM tb_sentence
        <include refid="whereClause" />
        <include refid="extendedOrderByClause" />
    </select>
    
    <select id="get" parameterType="wankun.yan.hobby.file.english.study.bean.Sentence" resultType="wankun.yan.hobby.file.english.study.bean.Sentence">
        SELECT <include refid="requestAllFields"/> FROM tb_sentence
        <include refid="whereClause" />
        <include refid="extendedOrderByClause" />
        <if test="null!=requestCount">
            LIMIT 1
        </if>
    </select>
    
    <select id="getById" parameterType="long" resultType="wankun.yan.hobby.file.english.study.bean.Sentence">
        SELECT <include refid="requestAllFields"/> FROM tb_sentence WHERE id = #{id}
    </select>
    
    <select id="count" parameterType="wankun.yan.hobby.file.english.study.bean.Sentence" resultType="int">
        SELECT COUNT(1) FROM tb_sentence <include refid="whereClause" />
    </select>
    
    <!-- 扩展的更新等语句（自定义）-->
    <sql id="extendedUpdateSql">
        <if test="null!=extendedParameter">
            
        </if>
    </sql>
    
    <!-- 扩展的条件过滤语句（自定义）-->
    <sql id="extendedWhereClause">
        <if test="null!=extendedParameter">
            
        </if>
    </sql>
    
    <!-- 扩展的排序等语句（自定义）-->
    <sql id="extendedOrderByClause">
        <if test="null!=extendedParameter">
            <if test="null!=extendedParameter.orderBy">${extendedParameter.orderBy.content}</if>
            
        </if>
    </sql>
    
</mapper>